@using Entities.Concrete
@model List<Article>

@{
    ViewData["Title"] = "ArticleListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var article in Model)
    {
        <tr>
            <td>@article.Id</td>
            <td>@article.Title</td>
            <td>@(((DateTime)article.CreateDate).ToString("dd-MM-yyyy"))</td>
            <td>@article.Category.Name</td>
            @if (article.Status)
            {
                <td><span class="badge badge-success">Aktif</span></td>
            }
            else
            {
                <td><span class="badge badge-dark">Pasif</span></td>
            }
            <td> <a href="/Article/Delete/@article.Id" class="btn btn-danger" onclick="return confirm('Silmeyi onaylıyor musun?')">Sil</a> </td>
            <td> <a href="/Article/Edit/@article.Id" class="btn btn-gradient-primary">Düzenle</a> </td>
        </tr>
    }
</table>
<a href="/Article/AddArticle" class="btn btn-primary">Yeni Blog Yaz</a>

<script>
    $(document).ready(function () {
               $("#send").click(function (e) {
                   var 
               }
    }

</script>
