<div class="tech-btm">
    <h4>Yazılanlardan Haberdar Ol</h4>
    <p>Yeni yazılarımızı eposta adresinize bildirim olarak almak isterseniz abone olun.</p>
    <form action="/NewsLetter/SubscribeMail" method="post">
        <input type="email" placeholder="Email" required="" name="mail">
        <input type="submit" value="Abone Ol">
    </form>

</div>