@model Demo.Models.PasswordChangeModel

<small>@TempData["PasswordError"]</small>

@using (Html.BeginForm("PasswordChange", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Şifre Değiştirme</h4>

                <div class="form-group">

                    <br>

                    <label for="exampleInputPassword4">Eski Şifreniz</label>
                    <input type="password" class="form-control" asp-for="OldPass" id="passwordOld" placeholder="" required="">

                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Yeni Şifre</label>
                    <input type="password" class="form-control" asp-for="NewPass" id="passwordNew" placeholder="" required="">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Tekrar yeni şifre</label>
                    <input type="password" class="form-control" asp-for="ConfirmNewPass" id="newPassConfirm" placeholder="" required="">

                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>

            </div>
        </div>
    </div>

}