
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="comment-top">
    <h4>Yorum bırakın</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment" method="post">
            <input class="form-control" type="text" name="Username" id="user" placeholder="Kullanıcı adı" required="">

            @*<input class="form-control" type="text" name="Title" placeholder="Başlık" required="">*@

            <textarea class="form-control" name="Content" id="com" placeholder="Yorum yaz ..." required=""></textarea>
            <button type="submit" id="btn_comment" class="btn btn-primary submit">Yorum Yap</button>
        </form>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    //global vars
    //    var userName = document.getElementById("user").value; //user name field
    //    var userComment = document.getElementById("com").value; //comment field

    //    //function to check name and comment field 
    //    function checkCommentsForm() {
    //        if (userName.attr("value") && userComment.attr("value"))
    //            return true;
    //        else
    //            return false;
    //    }

        
    //    //When form submitted
    //        $("#btn_comment").click(function () {

    //            if (checkCommentsForm()) {
    //                var comment = {
    //                    "Username": "#user",
    //                    "Content":"#com"
    //                }
    //            $.ajax({
    //                type: "post"
    //                , url: "/Comment/PartialAddComment"
    //                , data: comment,
    //                success: function (msg) { $('#targetDiv').hide(); $("#targetDiv").html("<h3>" + msg + "</h3>").fadeIn("slow"); }
    //            });
    //        }
    //        else alert("Please fill UserName & Password!");
    //        return false;
    //    });
    //});





    //$(document).ready(function () {
    //    // Add the page method call as an onclick handler for the div.
    //    $("#btn_comment").click(function () {
    //        $.ajax({
    //            type: "POST",
    //            url: "/Comment/PartialAddComment",
    //            data: { someParameter: "some value" },
    //          /*  contentType: "application/json; charset=utf-8",*/
    //           /* dataType: "json",*/
    //            success: function (response) {
    //                if (response=="OK") {
    //                    alert("Yorum başarılı")
    //                }
    //                else {
    //                    alert("Yorum başarısız")
    //                }
    //            }
    //        });
    //    });
    //});
</script>