@using Entities.Concrete
@model List<ToDo>

   
<div class="col-md-5 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-black">Yapılacaklar Listesi</h4>
           <p> <small>Yapacaklarını buraya ekleyip, biten işleri işaretleyebilirsin. Listeden kaldırmak için tamamlandı butonuna tıkla!</small></p>
                <div class="add-items d-flex">
                    <input type="text" name="Job" id="job" class="form-control" placeholder="Bugün ne yapacaksın?" />
                    <button class="btn btn-gradient-primary font-weight-bold" id="sendJob" type="submit">Ekle</button>
                </div>

            <div class="list-wrapper">
                @foreach (var todo in Model)
                {
                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        <li>

                            <div class="form-check">
                                <label class="form-check-label">

                                    <input class="checkbox" type="checkbox" id="currentJob" name="id"> @todo.Job
                                </label>
                                <button class="btn btn-primary btn-xs" type="submit" id="@todo.Id"> - Tamamlandı</button>

                            </div>
                        </li>
                    </ul>
                }
            </div>


        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
@*yukarıdaki script alanı olmadan çalışmıyor, renderbody olayı çözülmeli.*@

<script>
        $(document).ready(function () {

        $("button").click(function(e) {
     if(this.type=="submit" && this.id!="sendJob")
    { //sayfada başka button olursa patlayabilecek bir kod....
        var JobId= this.id;
              $.ajax({
                type: 'POST',
                url: '/Dashboard/DeleteTodo',
                data: { id: JobId},
                ContentType: 'application/Json',
                dataType: "json",
                success: function (response) {
                    if (response == "OK") {
                          location.reload();
                    } else {
                        alert("Silme başarısız.");
                    }
                },
                error: function (e) {
                    alert("Todo gönderilemiyor. Error: ", e);
                }
            });
      }
      if(this.id=="sendJob")
      {
            var Job = document.getElementById("job").value;

            $.ajax({
                type: 'POST',
                url: '/Dashboard/AddTodo',
                data: { Job: Job},
                ContentType: 'application/Json',
                dataType: "json",
                success: function (response) {
                    if (response == "OK") {
                        location.reload();
                    } else {
                        alert("Ekleme başarısız.");
                    }
                },
                error: function (e) {
                    alert("Todo gönderilemiyor. Error: ", e);
                }
            });
      }
    });
    });
</script>